* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  /* background: #fff !important;
  box-shadow: 0 7px 2px -2px #d8d8d8; */
}

.content {
  margin-bottom: 25px;
}

.footer {
  margin-top: auto;
}
